*{
    margin:0px;
    padding:0px;
}

/*Remove outline*/
input:focus, select:focus, textarea:focus{
    outline: none;
}

/*Navigation bar*/
nav {
    display:flex;
    background:#ccc;
    height:55px;
}

/*wesbite logo*/
.logo{
    font-family: 'Dancing Script', cursive;
    color:#fff;
    font-size:40px;
    padding:0 20px;
}

.logo a{
    color:#fff;
    text-decoration:none;
}

.nav-posts a, .nav-right a {
    text-decoration:none;
    color:#fff;
    line-height:50px;
    margin:0px 10px;
    font-size:19px;
}

.nav-posts a:hover, .nav-right a:hover {
    border-bottom:2px solid #fff;
    padding-bottom:3px;
}

/*Place navigation links*/
.nav-posts{
    position:absolute;
    left:280px;
}

.nav-right{
    position:absolute;
    right:20px;
}

/*login and sign up form*/
.login-form, .signup-form{
    margin:20px auto;
    width:60%;
    padding:25px;
    line-height:35px;
    background:#fff;
    border-radius:15px;
    box-shadow:0px 0px 5px 3px rgb(105, 105, 105);
    text-align:center;
}

form h2, form p {
    text-align:center;
}

form a{
    color:grey;
}

form a:hover{
    text-decoration:none;
}

/*style the inputs on the login and sign in forms*/
.login-form input[type="text"], .login-form input[type="password"],
.signup-form input[type="text"], .signup-form input[type="email"], .signup-form input[type="password"]{
    padding:5px;
    width:97%;
    height:20px;
    margin:6px 0px;
}

.login-form input[type="submit"], .signup-form input[type="submit"]{
    width:100%;
    height:29px;
}

/*position the password checkbox*/
form input[type="checkbox"]{
    width:25px;
}

form input[type="button"]:hover{
    background:rgb(155, 154, 154);
}

/*Add line styling*/
.login-form p:first-of-type, .signup-form p:first-of-type{
    border-bottom: 1px solid #000; 
    line-height:0.1em;
    margin:10px 0 20px;
}

.login-form p:first-of-type span, .signup-form p:first-of-type span{
    background:#fff;
    padding:0px 10px;
}

/*Style feedback*/
#loginFeedback, #signInFeedback, #updateFeedback{
    color:rgb(83, 83, 83);
    font-weight:bold;
}

/*general buttons*/
.btn{
    padding:4px 25px;
    background:rgb(172, 170, 170);
    border:none;
    border-radius:2px;
}

.btn:hover{
    cursor:pointer;
    background: rgb(155, 154, 154);
    color:#fff;
}

/*banner*/
.banner{
    background:grey;
    line-height:25px;
    height:430px;
    background:#ccc;
}

.banner div{
    display:inline-block;
}

.bnr_content{
    margin:90px 15px;
    width:35%;
    padding-left:30px;
}

.bnr_content h2{
    font-size:35px;
    line-height:38px;
    margin:20px 0px;
}

.login-container{
    position:absolute;
    top:40px;
    right:50px;
    margin:50px;
    width:50%;
}

/*Place the sign up form on top of the login form*/
.signup-container{
    position:absolute;
    top:70px;
    right:60px;
    /*hide*/
    display:none;
}

/*Section two: reviews and rules*/
.section_two{
    display:flex;
    margin:40px 0px;
}

.reviews-container{
    width:50%;
}

.review{
    border:2px solid grey;
    box-shadow:0px 0px 5px 2px grey;
    height:200px;
    width:70%;
    margin:25px auto;
}

/*Resize the image on the review*/
.img_review{
    width:442px;
    height:200px;
}

.rules_container{
    width:50%;
}

.rules_container h2, .reviews-container h2{
    text-align:center;
}

/*lists*/
.rules{
    width:70%;
    line-height:35px;
    text-align:justify;
    margin:25px auto;
}

/*Profile picture*/
.profile-pic-section{ /*container*/
    padding:20px;
    display:flex;
    width:50%;
    height:200px;
    margin:30px auto;
    position:relative;
    box-shadow:0px 0px 5px 2px rgb(165, 165, 165);
    background:rgb(240, 239, 239);
}

.profile-upload-section{
    line-height:30px;
    height:100px;
    width:400px;
    position:absolute;
    left:270px;
    top:70px;
}

#pictureImg{
    width:200px;
    height:200px;
    border-radius:50%;
}

/*User information page*/
.user-info{
    margin-top:50px;
    margin-bottom:50px;
}

.user-info h2{
    text-align:center;
}

.info_form{
    box-shadow:0px 0px 5px 2px rgb(165, 165, 165);
    line-height:30px;
    width:50%;
    margin:20px auto;
    padding:20px;
    background:rgb(240, 239, 239);
}

/*button of the user-info form*/
.info_form input[type="submit"]{
    height:32px;
    width:99%;
    margin-top:20px;
}

.info_form input[type="password"], .info_form input[type="email"], .info_form input[type="text"]{
    height:25px;
    width:100%;
    padding:5px;
}

/*Search results section*/
.searchResult{
    margin:20px;
}

.searchResult h2{
    text-align:center;
    text-decoration:underline;
}

/*Full post page option*/
.searchContainer{
    height:100px;
    width:60%;
    margin:20px auto;
    position: relative;
    height:50px;
}

.searchContainer input[type="text"]{ /*Search tool*/
    padding: 5.5px;
    box-shadow:0px 0px 4px 1px rgb(148, 147, 147);
    border: none;
    width:600px;
    margin-left:60px;
}

.fa-search{
    box-shadow:0px 0px 4px 1px rgb(148, 147, 147);
    position:absolute;
    right:60px;
    top:0px;
    background:grey;
    padding:7px 10px;
}

.full_post_container{
    margin:20px auto;
    width:75%;  
}

.full_post_container h2{
    text-align:center;
    margin-bottom:20px;
}

.full_post{
    box-shadow:0px 0px 4px 1px rgb(148, 147, 147);
    padding:30px;
    line-height:30px;
    position:relative;
    height:130px;
    margin:20px;
}

/*date and time of post*/
.post_date_time{
    position:absolute;
    top:5px;
    right:10px;
}

/*images from the post*/
.post_images{
    display:flex;  
}

.post_img{
    width:30%;
    margin:20px auto;
    /*margin:20px 3 images*/
}

/*Commenting section*/
/*New comment*/
.new_comment{
    position:relative;
    height:70px;
}

/*input for new comments*/
.input_comment{
    border:none;
    border-bottom:2px solid black;
    height:30px;
    padding:0px 10px;

    width:80%;
    margin:30px auto;
    display:flex;
}

/*Comment buttons*/
.comment_buttons{
    position:absolute;
    right:90px;
    bottom:5px;
}

/*Existing comments*/
.old_comment{
    padding: 20px;
    line-height:25px;
}

.old_comment div{
    margin:20px 0px;
}

/*Creating a new post*/
/*container*/
.new_post{
    width:70%;
    margin:20px auto;
    position:relative;
    padding-bottom:30px;
}

.new_post h2{
    text-align:center;
    margin:20px 0px;
}

/*New post container*/
.create_post{
    padding:30px 40px;
    line-height:30px;
    background:rgb(240, 239, 239);
    box-shadow:0px 0px 5px 2px rgb(165, 165, 165);
}

/*text area*/
.create_post textarea{
    height:130px;
    width:500px;
    margin-left:100px;
    padding:5px;
}

.create_post input[type="text"]{
    height:25px;
    margin-left:32px;
    margin-bottom:20px;
    padding:0px 5px;
    width:300px;
}

/*Choose file button*/
.create_post input[type="file"]{
    margin-left:95px;
}

.image_label{
    position:absolute;
    top:290px;
    left:48px;
}

.create_post span{
    color:rgb(155, 150, 150);
}

/*Content label*/
.content_label{
    position:absolute;
    top:185px;
    left:36px;
}

/*Country input field*/
#country_input{
    margin-left:4px;
}

/*New post buttons*/
.post_btn{
    position:absolute;
    display:flex;
    right:20px;
    bottom:40px;
}

.cancel_btn{ /*button to cancel post creation*/
    position:absolute;
    display:flex;
    right:130px;
    bottom:40px;
}

/*Style the footer*/
footer{
    padding:40px;
    background:#ccc;
    text-align:center;
    line-height:30px;
}
